/*common*/
/* ¹ý¶É */
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
*{
  margin: 0;
  padding: 0;
}
html,body,#wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
#wrap {
  background-color: rgb(49, 53, 56);
  coloe: #fff;
}
#start, #random {
  .transition(all, 0.2s);
  color: #fff;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: 20px;
  z-index: 10;
  &:hover {
    opacity: 1;
    text-shadow: 1px 1px 3px #aaa;
  }
}

#random {
  top: 50px;
}